.card {
  margin: 0;
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__title {
  max-width: 250px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/union.svg);
  border: none;
  background-color: transparent;
  opacity: 40%;
  height: 20px;
  width: 23px;
}

.card__like-button:hover {
  opacity: 4;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    margin: 20px 0 0;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
