.card {
  position: relative;
  margin: 0;
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__title {
  color: #212121;
  max-width: 250px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/union.svg);
  border: none;
  background-color: transparent;
  opacity: 40%;
  height: 20px;
  width: 23px;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_liked {
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
  background-image: url(../images/liked-icon.svg);
}

.card__like-button_liked:hover {
  background-image: url(../images/liked-hover.svg);
}

.card__delete-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(../images/delete-default.svg);
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 627px) {
  .card {
    margin: 20px 0 0;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
