.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(autofit, 413px);
  gap: 40px 20px;
  justify-content: center;
}
